<footer>
    <div class="footer-left-section footer-section">
        <p>Web "designed" and developed by <span>Jorge Plaza</span></p>
    </div>
    <div class="br-line"></div>
    <div class="footer-right-section footer-section">
        <p>You can Contact me through</p>
        <ul>
            <li><fa-icon [icon]="faWhatsapp"></fa-icon><a href="https://wa.me/56983069105" target="_blank">+56 9 8306 9105</a></li>
            <li><fa-icon [icon]="faLinkedin"></fa-icon><a href="https://www.linkedin.com/in/jhoplainc" target="_blank">Jorge Plaza</a></li>
            <li><fa-icon [icon]="faGithub"></fa-icon><a href="https://github.com/JhoplaINC" target="_blank">Jhopla</a></li>
            <li><fa-icon [icon]="faAt"></fa-icon><a href="mailto:jorge.plaza.gj@gmail.com">jorge.plaza.gj&#64;gmail.com</a></li>
            <li><fa-icon [icon]="faPhone"></fa-icon><a href="tel:+56983069105">+56 9 8306 9105</a></li>
        </ul>
    </div>
</footer>