<div class="profile">
    <div class="banner">
        <div class="profile-picture">
            <div class="profile-photo">
                <img src="/assets/images/profile-photo-default.jpg" alt="Profile photo">
            </div>
            <p class="profile name">
                Nombre Apellido
            </p>
        </div>
    </div>
    <div class="posting">
        <div class="create-a-post">
            <textarea name="posting" id="posting" placeholder="What are you thinking on?"></textarea>
            <button class="post">
                Post it
            </button>
        </div>
    </div>
    <div class="posts">
        <div class="post-data">
            <div class="post-head">
                <div class="author-profile-photo">
                    <img src="/assets/images/profile-photo.jpg" alt="Profile photo">
                </div>
                <p class="author-name">
                    Catman Underrated
                </p>
            </div>
            <div class="post-body">
                <p class="post">
                    Miau miau... miau miau, miau XD miau!
                </p>
            </div>
            <div class="post-footer">
                <div class="interactions">
                    <span class="likes"><fa-icon [icon]="faThumbsUp"></fa-icon> 23</span>
                    <span class="comments"><fa-icon [icon]="faComment"></fa-icon> 1</span>
                    <span class="shared"><fa-icon [icon]="faPaperPlane"></fa-icon> 1</span>
                    <span class="posted-at">23/02/2024</span>
                </div>
                <div class="comments">
                    <p class="comments-title">Comments <fa-icon [icon]="faArrowDown"></fa-icon></p>
                    <div class="comment-data">
                        <div class="comment-head">
                            <div class="author-profile-photo">
                                <img src="/assets/images/profile-photo-2.jpg" alt="Profile photo">
                            </div>
                            <p class="author-name">
                                Catboy Overrated
                            </p>
                        </div>
                        <p class="comment">
                            Actually... no... miaun't...
                        </p>
                        <div class="interactions">
                            <span class="likes"><fa-icon [icon]="faThumbsUp"></fa-icon> 1</span>
                            <span class="comments"><fa-icon [icon]="faComment"></fa-icon> 0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>